/* font */
@font-face {
    font-family: Etnis;
    src: url(fonts/etnis.otf)
}
@font-face {
    font-family: Ninja;
    src: url(fonts/ninja.otf)
}
@font-face {
    font-family: Samurai;
    src: url(fonts/samurai.otf)
}
@font-face {
    font-family: NotoSerifKRLight;
    src: url(fonts/NotoSerifKR-Light.otf);
}
@font-face {
    font-family: NotoSerifKRSemibold;
    src: url(fonts/NotoSerifKR-SemiBold.otf);
}
@font-face {
    font-family: NotoSerifKRRegular;
    src: url(fonts/NotoSerifKR-Regular.otf);
}


html,body {
    overflow-x: hidden;
    /* height: 100%; */
}

/* landing page background setup */
.background {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#emblem {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(10%, -30%); 
    /* z-index: 2;  */
    width: 60vw;
    height: auto;
    object-fit: contain;
    opacity: 70%;
}

.background-text {
    position: absolute;
    bottom: 10px;
    padding: 90px 20px 0px 25px;
    margin-bottom: 30px;
    max-width: 600px;
}

.footnote {
    display: flex;
    font-family: NotoSerifKRLight;
    font-size: 12px;
    position: absolute;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.footnote p {
    margin-right: 10px;
}

.footnote .fa-github {
    font-size: 25px;
}

.background-text h1 {
    font-family: Ninja;
    font-size: 30px;
    margin-bottom: 10px;
}

.background-text p {
    margin-bottom: 30px;
    font-size: 15px;
    font-family: NotoSerifKRSemiBold;
}

.intro-start-button {
    font-family: NotoSerifKRLight;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    transition: 1s ease-in-out;
}

.arrow-mobile {
    font-size: 25px;
    font-family: NotoSerifKRSemiBold;
    display: inline-block;
}

.arrow-web {
    display: none;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(10px); 
    }
}

.intro-start-button .arrow-mobile {
    display: inline-block; 
    transform: translateY(0); 
    animation: moveUpDown 1s ease-in-out infinite; 
}


/* quiz container setup */
#container {
    width: 100%;
    background: #29221f;
    padding: 40px 25px 40px;
    /* z-index: 500; */
    position: relative;
    color: #ffffff;
}

.corner {
    position: absolute;
    width: 140px; 
    height: 140px; 
    /* z-index: 1000; */
    padding: 10px;
}

#top-left {
    top: 0;
    left: 0;
    transform: rotate(0deg); 
}

#top-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

#bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(270deg); 
}

#bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg); 
}

h2 {
    font-family: NotoSerifKRSemiBold;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

label, select, input {
    font-family: NotoSerifKRSemiBold;
    font-size: 15px;
}

select, input {
    background-image: linear-gradient(to right, #e5d1c0, #baa38e);
    width: 100%;
    padding: 10px;
    border: 1px dashed #fff;
    margin-bottom: 10px;
}

select {
    cursor: pointer;
}

.start-button-container {
    align-self: center; 
    justify-content: center;
    display: flex;
}

    .start-button {
        font-family: NotoSerifKRLight;
        margin-top: 23px;
        margin-bottom: 8px;
        position: relative;
        text-align: center;
        padding: 10px;
        border: 1px solid #ffffff;
        background-color: transparent;
        background-image: linear-gradient(to right, rgb(230, 220, 212) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: 100% center;
        transition: background-position 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
    
    .start-button::before {
        position: absolute;
        content: "";
        position: absolute;
        top: -5px; 
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 1px solid #ffffff;
    }
    
    .start-button:hover {
        background-position: left bottom;
        color:#30231b;
        background-color: transparent;
    }

#setup div {
    margin: 10px 0;
}

#setup label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
}

button {
    cursor: pointer;
    position: relative;
    text-align: center;
}

button:hover {
    /* background: #e9e9e9; */
}



/* media query */
@media (min-width: 425px) {
    .background-text h1 {
        font-size: 40px;
    }

    .background-text p {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .background {
        height: 80vh;
    }

    .background-text {
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .background-text h1 {
        font-size: 60px;
    }

    #container {
        padding: 100px 90px 50px;
    }

    #setup div {
        margin: 30px 0px;
    }

    h2 {
        margin-bottom: 60px;
        font-size: 26px;
    }

    label, select, input {
        width: 100%;
        position: relative;
        align-self: center; 
        justify-content: center;
    }

    .corner {
        width: 200px; 
        height: 200px; 
    }
}

@media (min-width: 1080px) {
    body {
        display: flex;
        height: 100%;
        overflow: hidden;
    }

    .background {
        height: 100vh;
    }

    .background-text {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        max-width: 800px;
    }

    .background-text h1 {
        font-size: 45px;
    }

    .background-text p {
        font-size: 20px;
    }

    #emblem {
        transform: translate(0, -30%); 
        max-width: 700px;
    }

    .background-text {
        bottom: -30px;
    }

    #container {
        padding: 80px;
        max-width: 600px;
    }

    .intro-start-button {
        display: none;
    }

    .footnote p {
        margin-right: 20px;
        font-size: 18px;
    }
    
    .footnote .fa-github {
        font-size: 30px;
        transition: 0.3s ease-in-out;
    }

    .footnote .fa-github:hover {
        font-size: 33px;
        color: rgb(113, 10, 177);
    }

}

@media (min-width: 1280px) {
    .background-text {
        max-width: 700px;
    }

    .background-text h1 {
        font-size: 55px;
    }

    .background-text p {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {

    .background-text h1 {
        font-size: 70px;
    }

    .background-text p {
        font-size: 22px;
    }
}
