
* {
    font-family: monospace;
    margin: auto;
 }
 
 body {
     background: #c8d0e3;
     display: flex;
     /* margin: auto; */
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 100vh;
     margin: 0;
 }
 
 button {
     cursor: pointer;
     border-radius: 5px;
     padding: 10px 5px 10px;
     border: 1px dotted #000;
 }
 
 button:hover {
     background: #e9e9e9;
 }

 button:disabled {
    background-color: white;
    cursor: not-allowed;
 }
 

 /* landing page setup */

#title {
    font-size: 22px;
    margin-bottom: 50px;
}

#container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    /* border-radius: 20px; */
    /* box-shadow: 0 4px 20px rgba(0,0,0,0.3); */
    margin: 20px;
    padding: 50px;
}

#setup div {
    margin: 10px 0;
}

#setup label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
}

#category, #amount {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.question {
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.quiz {
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    padding: 20px 10px 20px;
    position: relative;
    margin-bottom: 20px;
}

#quiz-progress {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align children to the start of the flex container */
    width: 80%;
    padding: 5px 0;
    background-color: #e0e0e0; /* Light grey background for the entire progress bar area */
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50; /* Green color for the progress part */
    width: 0%; /* Starts with 0 width and will grow to the right */
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side only initially */
    transition: width 0.4s ease-in-out;
    margin: 0 5px;
}

#progress-text {
    padding-left: 10px; /* Adds space between the progress bar and the text */
    white-space: nowrap; /* Ensures the text does not wrap to the next line */
    margin: 0;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
    text-align: center;
}

.option img {
    margin-top: 5px;
    max-width: 150px;
    height: auto;
}

.answers {
    display: flex;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    padding: 10px; 
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.option-selected {
    border: 3px solid #007bff; 
}

.start-button {
    padding: 10px 30px 10px;
}

.next-button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 30px 10px;
    color: white;
    background-color: gray;
    border: transparent;
}

.next-button:hover {
    background-color: rgb(91, 148, 255);
}

.cross-button {
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 5px;
    border: transparent;
}

.cross-button:hover {
    background-color: transparent;
}

/* drag */


.drag-items {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.drag-item {
    background-color: pink;
    flex-direction: column;
    padding: 1em;
    border: 1px dashed #000;
    margin: 1em;
    cursor: grab;
}

.drop-areas {
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.drop-point {
    padding: 1em;
    border: 1px dashed #000;
    width: 29%;
}

  img {
   width: 90%;
  }


/* feedback */
.feedback-correct {
    color: green;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
}

.feedback-incorrect {
    color: red;
    background-color: #edd4d4;
    border-color: #e6c3c3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
}
