
* {
    font-family: monospace;
 }
 
 body {
     background: #A3B7FF;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 .option img {
    max-width: 130px;
 }
 
 button {
     cursor: pointer;
     border-radius: 5px;
     font-size: 15px;
     padding: 10px 20px;
     border: 1px solid #000;
 }
 
 button:hover {
     background: #e9e9e9;
 }
 

 /* landing page setup */

#title {
    font-size: 22px;
    margin-bottom: 50px;
}

#container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    margin: 20px;
    padding: 20px;
}

#setup div {
    margin: 10px 0;
}

#setup label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
}

#category, #amount {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* q1 template  */
h1 {
    font-weight: 500;
    color: #424180;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.question {
    margin-top: 20px;
    margin-bottom: 100px;
}

.quiz {
    background: #ffffff;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    padding: 20px;
    position: relative;
}

.option-selected {
    border: 3px solid #007bff; 
}

.enter-button {
    margin-top: 50px;
    color: gray;
    border: solid 1px gray;
}

.cross-button {
    font-size: 25px;
    position: absolute;
    left: 25px;
    top: 20px;
    border: transparent;
}

.cross-button:hover {
    background-color: transparent;
}

/* drag */


.drag-items {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.drag-item {
    background-color: pink;
    flex-direction: column;
    padding: 1em;
    border: 1px dashed #000;
    margin: 1em;
    cursor: grab;
}

.drop-areas {
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.drop-point {
    padding: 1em;
    border: 1px dashed #000;
    width: 29%;
}

/* .drag-items, .drop-areas {
    display: flex;
    justify-content: space-around; 
    text-align: center;
    width: 100%; 
}

.drag-item, .drop-point {
    display: flex;
    background-color: red; 
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em;
    border: 1px dashed #000;
    width: 21%;
    margin: 0 2%; 
}

.drop-point {
    background-color: transparent; 
}

.drop-areas, .drag-items {
    flex-wrap: wrap; 
} */


  img {
    width: 8em;
    /* filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25)); */
  }


/* feedback */
.feedback-correct {
    color: green;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.feedback-incorrect {
    color: red;
    background-color: #edd4d4;
    border-color: #e6c3c3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
