/* font */
@font-face {
    font-family: Etnis;
    src: url(fonts/etnis.otf)
}
@font-face {
    font-family: Ninja;
    src: url(fonts/ninja.otf)
}
@font-face {
    font-family: Samurai;
    src: url(fonts/samurai.otf)
}
@font-face {
    font-family: NotoSerifKRLight;
    src: url(fonts/NotoSerifKR-Light.otf);
}
@font-face {
    font-family: NotoSerifKRSemibold;
    src: url(fonts/NotoSerifKR-SemiBold.otf);
}
@font-face {
    font-family: NotoSerifKRRegular;
    src: url(fonts/NotoSerifKR-Regular.otf);
}


* {
    font-family: NotoSerifKRRegular;
    color: #fff;
    margin: auto;
 }


 p, .answer, a, button, span {
    color: #fff;
 }
 
 body {
    background-image: linear-gradient(to bottom, #2b1f14, #84674E);
     /* display: flex; */
     /* margin: auto; */
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 100vh;
     margin: 0;
     padding-top: 5%;
 }
 
 button {
    position: relative;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffffff;
 }

 button::before {
    position: absolute;
    content: "";
    position: absolute;
    top: -5px; 
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #ffffff;
}
 
 button:hover {
    background-color: rgb(230, 220, 212);
    color:#30231b;
 }

 button:disabled {
    background-color: transparent;
    color: #fff;
    cursor: not-allowed;
 }


.quiz-content-container {
    position: relative;
}

.corner {
    position: absolute;
    width: 140px; 
    height: 140px; 
    /* z-index: 1000; */
    padding: 10px;
}

#top-left {
    top: -30px;
    left: 0;
    transform: rotate(0deg); 
}

#top-right {
    top: -30px;
    right: 0;
    transform: rotate(90deg);
}

#bottom-left {
    bottom: -30px;
    left: 0;
    transform: rotate(270deg); 
}

#bottom-right {
    bottom: -30px;
    right: 0;
    transform: rotate(180deg); 
}

.question {
    line-height: 1.5;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    max-width: 90%;
    /* margin: auto; */
    margin-top: 15px;
    margin-bottom: 13px;
    /* margin-bottom: 20px; */
}

.quiz {
    background: #1e1918;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    padding: 20px 10px 20px;
    position: relative;
    margin-bottom: 20px;
    height: 100%;
    margin: auto;
}

#quiz-progress {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align children to the start of the flex container */
    width: 80%;
    padding: 5px 0px;
    background-color: #614f42; /* Light grey background for the entire progress bar area */
    border: 1px dotted #fff;
    overflow: hidden;
    margin-top: 30px;
}

.progress-bar {
    height: 15px;
    background-color: #BC8974; /* Green color for the progress part */
    width: 0%; /* Starts with 0 width and will grow to the right */
    transition: width 0.4s ease-in-out;
    margin: 0 5px;
}

#progress-text {
    white-space: nowrap; /* Ensures the text does not wrap to the next line */
    margin-top: 5px;
    font-size: 13px;
    font-family: NotoSerifKRLight;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
    text-align: center;
}

.option img {
    margin-top: 5px;
    max-width: 150px;
    height: auto;
}

.answers {
    display: flex;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    padding: 5px; 
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: NotoSerifKRLight;
}

.timer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.option-selected {
    border: 3px solid #ff7700; 
}

.start-button {
    padding: 10px 30px 10px;
}

.next-button {
    margin-top: 23px;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffffff;
    transition: 0.3s ease-in-out;
}

.next-button::before {
    position: absolute;
    content: "";
    position: absolute;
    top: -5px; 
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #ffffff;
}

.next-button:hover {
    background-color: rgb(230, 220, 212);
    color:#30231b;
}

.cross-button {
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 5px;
    border: transparent;
}

.cross-button:hover {
    background-color: transparent;
}

/* drag */


.drag-items {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.drag-item {
    background-color: pink;
    flex-direction: column;
    padding: 1em;
    border: 1px dashed #fff;
    margin: 1em;
    cursor: grab;
}

.drop-areas {
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.drop-point {
    padding: 1em;
    border: 1px dashed #fff;
    width: 29%;
}

  img {
   width: 90%;
  }


/* feedback */
.feedback-correct {
    color: #00751A;
    background-color: #98DE9F;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    font-family: NotoSerifKRLight;
    font-size: 13px;
}

.feedback-incorrect {
    color: #B50D0D;
    background-color: #DE9898;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    font-family: NotoSerifKRLight;
    font-size: 13px;
}
